.pn-init {
  --btn-1-bg: transparent;
  --btn-1-bg-hvr: transparent;
  --btn-bdr: none;
  --btn-p-2: 0;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;

  display: flex;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;

  -webkit-tap-highlight-color: transparent;
  transition: opacity .3s, background-color .3s;

  &.pn-show {
    padding-top: var(--hdr-hght);

    visibility: visible;
    opacity: 1;

    background: var(--pn-bg);
    transition-delay: 0s;
    overflow-y: auto;

    backdrop-filter: blur(3px);
    z-index: 1;

    pointer-events: auto;

    li {
      opacity: 1;
      border-bottom-color: var(--pn-bdr);
    }

    :is(a:not(.invisible), strong, .pn-breadcrumb) {
      animation: none !important;
      font-size: var(--pn-i-fs);
      font-weight: var(--pn-i-fw);
      line-height: 1.3;

      padding: 10px 0;
      display: inline-block;
      width: 100%;

      color: var(--pn-i-clr);

      &.submenu {
        width: 95%;
      }

      &:is(.trail,.active,:hover) {
        color: var(--pn-i-clr-a) !important;
      }
    }

    .invisible {
      display: none;
    }
  }

  > div {
    width: 100%;
  }

  ul {
    position: relative;
    box-sizing: border-box;

    width: 100%;
    margin: 0;
    padding: 30px;

    transition: transform .3s;

    ul {
      position: absolute;
      top: 0;
      left: 100%;

      opacity: 0;
      transition: opacity 0.2s, transform 0.3s;

      li {
        pointer-events: none;
      }
    }
  }

  li {
    display: block;
    margin: 0;
    opacity: 0;
    transition: opacity .2s, transform .3s;

    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    &.submenu {
      padding-right: 50px;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  ul:not(.pn-active:not(.pn-next)) > li > :is(a, button) {
    visibility: hidden;
  }

  .pn-active,
  .pn-next {
    z-index: 1;
    opacity: 1;

    li {
      pointer-events: auto;
    }
  }

  .pn-handle {
    position: absolute;
    right: 30px;

    font-size: 20px;
    line-height: 1;

    padding: 13px 5px 13px 16px;
  }

  .pn-next {
    transform: translateX(-100%);
  }

  .pn-active:not(.pn-next),
  .level_1:not(.pn-next):not(.pn-active) {

    li {
      @for $i from 1 through 20 {
        &:nth-of-type(#{$i}) {
          transition-delay: unquote('#{$i*80}ms');
        }
      }
    }
  }

  .pn-breadcrumb {
    text-align: left;

    i:before {
      font-size: 16px;
    }
  }
}

.pn-to-menu {
  position: absolute;
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0 !important;
  width: 1px !important;

  &:focus {
    left: 30px;
    right: 30px;
    height: revert;
    overflow: visible;
    clip: revert;
    margin-top: 8px;
    width: revert !important;
  }
}

.pn-breadcrumb,
.pn-handle {
  color: var(--pn-bc-clr) !important;
}

.pn-handle,
.pn-active > .pn-breadcrumb {
  cursor: pointer;

  &:hover {
    color: var(--pn-bc-clr-hvr);
  }
}

@media (min-width: $navigation-behaviour-min-width) {

  .pn-to-menu {
    display: none;
  }
}
