.pn-btn {
  border-radius: unset;
}

.pn-toggle {
  --btn-1-bg: transparent;
  --btn-1-bg-hvr: transparent;
  --btn-bdr: none;
  --btn-p-2: 0;

  position: relative;
  display: none;
  z-index: 200;
  border-radius: unset;

  &.pn-show {
    display: block;
  }
}
