// Push navigation
$pn-background:             rgba(var(--body-bg-rgb),.85) !default;
$pn-border-bottom-color:    rgba(49,49,49,.3) !default;
$pn-breadcrumb-color:       #424242 !default;
$pn-breadcrumb-color-hover: var(--clr-primary) !default;

$pn-item-font-size:         20px !default;
$pn-item-font-weight:       var(--fw-base) !default;
$pn-item-color:             var(--text-clr-base) !default;
$pn-item-color-active:      var(--clr-primary) !default;
